### VisualStudio Code
.vscode/

### VisualStudio 2017
.vs/

### GDB debugger
.gdbinit
.gdb_history

### etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
tags
tags.lock
tags.temp
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out

### Python Module Files
*__pycache__
*__pycache__/*
### ADU build environment
out/
build/
Testing/
