### VisualStudio Code
.vscode/

### ADU temporary folder for built dependencies and test data files
.workspace/

### VisualStudio 2017
.vs/

### Temporary workspace files
.workspace/

### GDB debugger
.gdbinit
.gdb_history

### etags, ctags, gtags (GNU global), cscope, and cquery.
TAGS
.TAGS
!TAGS/
tags
tags.lock
tags.temp
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
.cquery
compile_commands.json
cscope.files
cscope.out
cscope.in.out
cscope.po.out

### openssl output
*.sig
*.pem

### Python Module Files
*__pycache__
*__pycache__/*

### ADU build environment
out/
build/
Testing/
out*/

### VCPKG
.vcpkg/
.vcpkg-installed/

*.gcov
