{
  "schemaVersion": "1.1",
  "aduShellTrustedUsers": [
    "adu",
    "do"
  ],
  "iotHubProtocol": "mqtt",
  "manufacturer": "contoso",
  "model": "rpi-ubuntu-2004-adu",
  "agents": [
    {
      "name": "main",
      "runas": "adu",
      "connectionSource": {
        "connectionType": "string",
        "connectionData": "<Place your Azure IoT device connection string here>"
      },
      "manufacturer": "contoso",
      "model": "rpi-ubuntu-2004-adu"
    }
  ]
}
