[Unit]
Description=Device Update Agent daemon.
After=network-online.target deliveryoptimization-agent.service
Wants=network-online.target deliveryoptimization-agent.service

[Service]
Type=simple
Restart=always
RestartSec=5
User=adu
Group=adu
# systemd will try to start the ADU executable 5 times and then give up.
# We can check logs with journalctl -f -u deviceupdate-agent.service
# Set log verbosity level to 'Debug' and enable IoT Hub tracing.
ExecStart=/usr/bin/AducIotAgent -l 0 -e

[Install]
WantedBy=multi-user.target
